@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ranchers&display=swap');

.container{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.main {
    display: flex;
}
h1{
    font-family: 'Ranchers', cursive;
    font-size: 3em;
    color: #91ae62;
    text-shadow: 1px 2px black;
    letter-spacing: 2px;
}

h2{
    background-color: #c6f88c;
    border-radius: 10px;
}

.game{
    margin: auto;
}
.score {
    width: 25%;
    display: none;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



.modal-body {
    padding: 2px 16px;
    background-color: #c6f88c;
    color: white;
    font-size: 1.5em;
}

}
.modal-footer {
  padding: 2px 16px;
  
}

.start {
	background-color:#ad8ef8;
	border-radius:28px;
	border:1px solid #ad8ef8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #7963ae;
    margin: 2%;
}
.start:hover {
	background-color: #7963ae;
}
.start:active {
    box-shadow: 0px 15px 20px #68529d;
}

.moves{
    font-size: 3em;
    background-color: #c6f88c;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-color: #c6f88c;
    border-style: none;
    margin: 10px;
}

.moves:hover {
    transform: scale(1.1);
}
.moves:active {
    box-shadow: 0px 15px 20px #91ae62;
}

button{
    outline: none;
}

.counter {
    font-size: 2em;
    font-weight: bolder;
    color: #68529d;
}